/*variables*/

:root {
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-brown: #766357;
  --basic-brown-light: #eeeeee;
  --basic-gray: #888888;
  --basic-black: #000000;
}

/*Global*/

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400px;
  background-color: var(--basic-white);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/**/

.wellcome {
  height: 509px;
  background-image: url(../img/background-photo.jpg);
  background-repeat: no-repeat;
}

/*Main navigation*/

.page-navigation {
  font-weight: bold;
  line-height: 26px;
  min-height: 56px;
  color: var(--basic-black);
  position: relative;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slogan {
  position: absolute;
  left: -10000px;
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.entry {
  text-align: center;
  line-height: 26px;
  height: 216px;
}

.order {
  align-items: center;
  min-height: 290px;
}

.footer {
  background-color: var(--basic-white);
  margin: 0;
  padding: 0;
  color: var(--basic-black);

}

.contacts {
  font-weight: 700;
  margin: 0;
  width: 250px;
  color: var(--basic-black);
  font-size: 21px;
}

.form {
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-black);
}

.hotel-title-link {
  width: 240px;
  height: 26px;
}

