/*variables*/

:root {
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-brown: #766357;
  --basic-brown-light: #eeeeee;
  --basic-gray: #888888;
  --basic-black: #000000;
}

/*Global*/

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: var(--basic-white);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center;
  outline: 5px solid rgba(152, 251, 152, 0.7);
  outline-offset: -5px;
}
/**/

.welcome {
  background-image: url(../img/background-photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  outline: 5px solid rgba(255, 0, 0, 0.5);
  outline-offset: -5px;
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Main navigation*/

.page-navigation {
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.page-header-logo {
  position: absolute;
}

.site-navigation {
  width: 100%;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  outline: 5px solid rgba(255, 0, 255, 0.5);
  outline-offset: -5px;
}

.main-header-logo {
  margin-top: 78px;
  margin-bottom: 23px;
  margin-left: 372px;
  width: 457px;
  height: 351px;
  outline: 5px solid rgba(255, 0, 0, 0.5);
  outline-offset: -5px;
}

.active {
  color: var(--basic-brown);
}

.slogan {
  font-size: 21px;
}

.entry {
  padding: 50px 0;
  width: 1200px;
  text-align: center;
  line-height: 26px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 256px;
  vertical-align: top;
  background-color: var(--basic-blue);
  text-align: center;
  line-height: 21px;
  color: var(--basic-white);
  white-space: normal;
}

.housing {
  font-size: 21px;
}

.order {
  text-align: center;
}

.footer {
  background-color: var(--basic-white);
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.contacts {
  font-weight: 700;
  margin: 0;
  width: 250px;
  color: var(--basic-black);
  font-size: 21px;
}

.contacts-social {
  font-weight: 700;
  margin: 0;
  width: 250px;
  color: var(--basic-black);
  font-size: 21px;
}

.form {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
}

.infrastructure {
  font-size: 16px;
  font-weight: 700;
}

.found {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sort {
  color: var(--basic-black);
  font-size: 12px;
  line-height: 18px;
}

.compilation {
  color: var(--basic-black);
  font-size: 12px;
  line-height: 18px;
}

.hotel-title-link {
  width: 240px;
}

.rest-house {
  width: 100%;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  outline: 5px solid rgba(218, 165, 32, 0.5);
  outline-offset: -5px;
  last-style: none;
}

.lookup-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 5px solid rgba(255, 0, 255, 0.5);
  outline-offset: -5px;
  last-style: none;
}
